<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Not Found</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sign-up">Sign-Up</a></li>
                <li><a href="/sign-in">Sign-In</a></li>
                <li><a href="/add-case">Add Case</a></li>
                <li><a href="/officer/my-evidences">My Evidences</a></li>
                <li><a href="/officer/view-requests">View Requests - For Officer</a></li>
                <li><a href="/admin/view-requests">View Requests - For Admin</a></li>
                <li><a href="/cases/">View Cases</a></li>
                <li><a href="/about-us">About US</a></li>
            </ul>
        </nav>
    </header>
    <h1>Page Not Found!</h1>
</body>
</html>